In [1]:
# Ho caricato il file csv ed ho inserito il na_values che mi trasforma il '?' in valore nullo

import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/infob/Desktop/python/nuovo.py/Pandas/Esercizi develhope/World_Alcohol_Dataset - MAIN (1).csv', na_values='?')

# Sostituisco i valori nulli con la mediana, poichè la std è abbastanza alta e quindi 
# ho dispersione dei valori

df.fillna(round(df['beer_servings'].median(),2), inplace=True)
df.fillna(round(df['spirit_servings'].median(),2), inplace=True)
df.fillna(round(df['wine_servings'].median(),2), inplace=True)

Write a Pandas program to filter the records from the world alcohol consumption dataset where the life expectancy is above the average life expectancy of all countries. Retrieve the country, life expectancy, and GDP per capita for these filtered records

In [2]:
# Mi sono andato a trovare 

df['life_expentancy'].mean()

71.67909604519774

In [2]:
# Sto visualizzando soltanto 3 colonne, in modo decrescente rispetto al life_expentancy e sto 
# visualizzando tutti i valori superiori alla media della life_expentancy

df1 = df[(df['life_expentancy']) >= (df['life_expentancy'].mean())] [['country','life_expentancy','gdp_per_capita']]
df1.sort_values(by=('life_expentancy'), ascending=False)

        country  life_expentancy  gdp_per_capita
141    Slovenia             88.0           19000
44      Denmark             86.0           31100
42       Cyprus             85.0           19200
33        Chile             85.0            9900
81        Japan             83.7           28200
..          ...              ...             ...
106     Moldova             72.1            1800
171     Vanuatu             72.0            2900
83   Kazakhstan             72.0            6300
65    Guatemala             71.9            4100
12   Bangladesh             71.8            1900

[104 rows x 3 columns]