In [2]:
# Ho caricato il file csv ed ho inserito il na_values che mi trasforma il '?' in valore nullo

import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/infob/Desktop/python/nuovo.py/Pandas/Esercizi develhope/World_Alcohol_Dataset - MAIN (1).csv', na_values='?')

# Sostituisco i valori nulli con la mediana, poichè la std è abbastanza alta e quindi 
# ho dispersione dei valori

df.fillna(round(df['beer_servings'].median(),2), inplace=True)
df.fillna(round(df['spirit_servings'].median(),2), inplace=True)
df.fillna(round(df['wine_servings'].median(),2), inplace=True)

Write a Pandas program to find the top 5 countries with the highest beer servings and the highest spirit servings from the world alcohol consumption dataset. Retrieve the country names, beer servings, spirit servings, and the corresponding region for these top 5 countries

In [3]:
# Top 5 country per beer_servings, ordinato in modo decrescente

df.sort_values(by=('beer_servings'), ascending=(False)).head()[['country','beer_servings','spirit_servings','region']]

       country  beer_servings  spirit_servings              region
111    Namibia          376.0              3.0  SUB-SAHARAN AFRICA
43     Czechia          361.0            170.0      EASTERN EUROPE
58       Gabon          347.0             98.0  SUB-SAHARAN AFRICA
61     Germany          346.0            117.0      WESTERN EUROPE
94   Lithuania          343.0            244.0             BALTICS

In [5]:
# Top 5 country per beer_servings, ordinato in modo decrescente

df.sort_values(by=('spirit_servings'), ascending=(False)).head()[['country','beer_servings','spirit_servings','region']]

     country  beer_servings  spirit_servings               region
64   Grenada          199.0            438.0  LATIN AMER. & CARIB
14   Belarus          142.0            373.0  C.W. OF IND. STATES
69     Haiti            1.0            326.0  LATIN AMER. & CARIB
131   Russia          247.0            326.0  C.W. OF IND. STATES
68    Guyana           93.0            302.0  LATIN AMER. & CARIB