In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('C:/Users/infob/Desktop/python/nuovo.py/Pandas/Esercizi develhope/World_Alcohol_Dataset - MAIN (1).csv', na_values='?')

Write a Pandas program to filter the records from the world alcohol consumption dataset where the average consumption of beverages per person (beer, spirit, and wine combined) falls within the range of 0.5 to 2.5. Retrieve the records that include the country, average consumption, region, and GDP per capita.

Scrivere un programma Panda per filtrare i record dal set di dati sul consumo mondiale di alcol in cui il consumo medio di bevande per persona (birra, liquore e vino combinati) rientra nell'intervallo compreso tra 0,5 e 2,5. Recupera i record che includono il paese, il consumo medio, la regione e il PIL pro capite.

In [66]:
# Essendo che ho valori nulli vado a vedere con quali valori sostituirli, essendo che la std ha
# un valore elevato allora li sostituisco con la mediana

df1.describe()

,beer_servings,spirit_servings,wine_servings,life_expentancy,gdp_per_capita
count,177.000000,177.000000,177.000000,177.000000,177.000000
mean,106.841808,77.028249,48.824859,71.679096,8641.242938
std,101.808911,85.541220,79.782786,8.170086,9838.887919
min,0.000000,0.000000,0.000000,51.000000,500.000000
25%,20.000000,4.000000,1.000000,65.700000,1700.000000
50%,76.000000,51.000000,8.000000,74.000000,4800.000000
75%,192.000000,122.000000,59.000000,77.000000,11400.000000
max,376.000000,438.000000,370.000000,88.000000,55100.000000

In [5]:
# Sostituisco i valori nulli con la mediana, poichè la std è abbastanza alta e quindi 
# ho dispersione dei valori

df1 = df.fillna(round(df['beer_servings'].median(),2))
df1 = df.fillna(round(df['spirit_servings'].median(),2))
df1 = df.fillna(round(df['wine_servings'].median(),2))

In [7]:
df1[['beer_servings','spirit_servings','wine_servings']].median()

beer_servings      76.0
spirit_servings    51.0
wine_servings       8.0
dtype: float64

In [8]:
# Creo una nuova colonna e mi calcolo la media delle tre colonne per persona

df1['media_per_persona'] = df1[['beer_servings','spirit_servings','wine_servings']].mean(axis=1)
df1['media_per_persona']

0        0.000000
1       91.666667
2       13.000000
3      106.333333
4       91.666667
          ...
172    145.333333
173     38.000000
174      2.000000
175     18.333333
176     28.666667
Name: media_per_persona, Length: 177, dtype: float64

In [9]:
df2 = df1[(df1['media_per_persona'] > 0.5) & (df1['media_per_persona'] < 2.5)]
df2[['country','media_per_persona','region','gdp_per_capita']]

          country  media_per_persona                region  gdp_per_capita
36        Comoros           1.666667    SUB-SAHARAN AFRICA             700
74      Indonesia           2.000000  ASIA (EX. NEAR EAST)            3200
101          Mali           2.333333    SUB-SAHARAN AFRICA             900
110       Myanmar           2.000000  ASIA (EX. NEAR EAST)            1800
116         Niger           2.000000    SUB-SAHARAN AFRICA             800
134  Saudi Arabia           1.666667             NEAR EAST           11800
157    East Timor           2.000000  ASIA (EX. NEAR EAST)             500
174         Yemen           2.000000             NEAR EAST             650